body {
  font-family: 'Exo 2', sans-serif;
  width: 70%;
  margin: 0 auto;
}
::-moz-selection {
  background-color: bisque;
  color: #000;
}
::selection {
  background-color: bisque;
  color: #000;
}
#header {
  display: inline;
}
#header h1 {
  font-size: xx-large;
  display: inline;
}
#header h2 {
  display: inline;
  padding-left: 1em;
}
#header a {
  color: inherit;
  text-decoration: none;
}
#header a:visited {
  color: inherit;
}
#footer {
  font-size: smaller;
  color: grey;
  font-style: italic;
  padding-top: 2em;
}
#content a {
  color: #1e90ff;
}
#content a:visited {
  color: #1e90ff;
}
#changelog {
  padding-left: 3em;
  border: 2px solid #000;
  border-radius: 1em;
  margin: 2em;
  width: 75%;
}
#downloads {
  list-style: none;
}
#outdatedServer {
  color: grey;
}
#qaList li {
  list-style: none;
}
#qaList li:nth-child(even) {
  margin-bottom: 1em;
}
#qaList li:nth-child(odd) {
  font-weight: 600;
  font-size: large;
}
#servers td {
  padding-right: 4em;
}
#servers thead {
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
#centralColumn {
  padding: 2em 1em;
  height: auto !important;
  margin-bottom: 3em;
}
