body {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}
::-moz-selection {
  background-color: bisque;
  color: #000;
}
::selection {
  background-color: bisque;
  color: #000;
}
#header {
  display: inline;
}
#header h1 {
  display: inline;
  font-size: 1.5em;
}
#header h2 {
  padding-left: 1em;
  display: inline;
}
#header a {
  color: inherit;
  text-decoration: none;
}
#header a:visited {
  color: inherit;
}
#header img {
  top: 4px;
  position: relative;
}
#footer {
  font-size: smaller;
  color: grey;
  padding-top: 4em;
}
#content a {
  color: #1e90ff;
}
#content a:visited {
  color: #1e90ff;
}
#changelog {
  padding-left: 3em;
  border: 1px solid #000;
  border-radius: 1em;
  margin: 2em;
  width: 100%;
}
#downloads {
  list-style: none;
  margin-top: 2em;
  margin-bottom: 3em;
  height: 128px;
}
#downloads li {
  float: left;
  width: 50%;
}
#downloads img {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.outdatedServer {
  color: grey;
}
#qaList {
  margin-top: 1em;
  padding: 0;
}
#qaList li {
  list-style: none;
}
#qaList li:nth-child(even) {
  margin-bottom: 1em;
}
#qaList li:nth-child(odd) {
  font-weight: bold;
  font-size: large;
}
#servers td {
  padding-right: 1em;
  padding-bottom: 0.15em;
}
@media screen and (max-width: 900px) {
  #servers td {
    padding-bottom: 1em;
  }
}
#servers thead {
  font-size: large;
  font-weight: 600;
}
#centralColumn {
  padding: 2em 1em;
  height: auto !important;
  margin-bottom: 3em;
}
