@using KMPRazorMix
@{
    Page.Title = "Kerbal Multi Player";
    Layout = "/_Layout.cshtml";
}
<p>
    KMP is a mod for Kerbal Space Program that adds a multiplayer game option. 
        In a KMP game you can freely interact with other players and do all the Kerbally things you'd normally do in KSP, but with friends (or strangers) playing in the same universe, at the same time. 
        Oh, and you can use (normal, on-rails) warp as much as you want.
</p>
<p>
    No joke. It's a real multiplayer plugin and it even actually works (er... mostly). 
        KMP builds on the already-amazing KerbalLiveFeed mod created by Alfred Lam/SodiumEyes, and KMP itself was created by me: Shaun Esau/TehGimp.
        KMP would not have been possible without the help of testers like Simon C. (CaptainCarpenter), nor without the numerous discoveries made and shared by KSP's incredibly smart & helpful modding community.
        A <a href="http://sesau.ca/ksp/KMP_contribs.html">full list of contributors</a> is available.
</p>
<p>
    KMP is currently in active development and help is always welcome. Have a look at the <a href="https://github.com/TehGimp/KerbalMultiPlayer">github page</a> if you're interested.
    Developers, server operators, bug testers and all others are always welcome to contribute or provide feedback.
</p>
